.cards-block {
  border: 1px solid var(--black);
  border-width: 1px 0;
  margin-left: -1rem;
  margin-right: -1rem;
  &.optional-spacing {
    &.bottom {
      margin-bottom: 0;
    }
    &.top {
      margin-top: 0;
    }
  }
  @media (min-width: 660px) {
    margin-left: -3rem;
    margin-right: -3rem;
  }
  display: flex;
  flex-direction: column;
  article {
    padding: 1.5rem;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    img {
      height: clamp(312px, 3vw, 416px);
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
    }
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--size-sm);
      * {
        width: fit-content;
      }
      > div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        min-height: var(--size-xl);
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--black);
    }
  }
}
@media screen and (min-width: 600px) {
  .cards-block {
    article {
      flex-direction: row;
      div > div {
        min-height: auto;
      }
    }
  }
}
@media screen and (min-width: 1180px) {
  .cards-block {
    flex-direction: row;
    padding: 0;
    article {
      padding: var(--size-lg);
      max-width: 33.33%;
      flex-direction: column;
      grid-column: span 4;
      &:not(:last-child) {
        border-bottom: none;
        border-right: 1px solid var(--black);
      }
      div > div {
        min-height: var(--size-xl);
      }
    }
  }
}
