.logo-block {
  border: 1px solid var(--black);
  border-width: 1px 0;
  display: flex;
  flex-direction: column;
  margin: 0 -1rem;
  > * {
    text-align: center;
    width: 100%;
  }
  .grid-items {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    h2 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: var(--white);
      height: 100%;
      padding: 1.5rem;
      grid-column: 1 / -1;
      grid-row: 2;
      z-index: 2;
    }
    .grouping {
      grid-column: 1 / -1;
      display: flex;
      will-change: transform;
      &:nth-of-type(2) {
        grid-row: 2;
      }
    }
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: var(--size-xxl) 1.5rem;
  }
}
@media screen and (min-width: 660px) {
  .logo-block {
    margin-left: -3rem;
    margin-right: -3rem;
    flex-direction: row;
    .grid-items {
      grid-template-columns: repeat(4, 1fr);
    }
    article{
      border-left: 1px solid var(--black);
    }
  }
}
@media screen and (min-width: 1180px) {
  .logo-block {
    .grid-items h2 {
      border: 1px solid var(--black);
      border-width: 0 1px;
      grid-column: 2 / 4;
    }
  }
}

/* testing animations */
@keyframes movingLeft {
  from {
    transform: translate(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes movingRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
