.pub-list {
    border: 1px solid var(--black);
    border-width: 0 1px;
    height: fit-content;
    overflow: hidden;
    width: fit-content;
    /* will-change: height; */
  }
  
  .pub-list li {

    position: relative;
    background: var(--important);
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--white);
        transform: translateX(0);
        transition: transform .3s ease-in .1s;
        will-change: transform;
    }
  }
  
  .pub-list li.displayed {
    display: block;
    &::after{
        transform : translateX(100%)
    }
  }
@media screen and (min-width: 660px) {
}
@media screen and (min-width: 1180px) {
}
