* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* multi page transition */
@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: 2s page-out ease;
}
::view-transition-new(root) {
  animation: 2s page-in ease;
}
header{
  view-transition-name: header;
}
@keyframes page-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes page-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  --linear-slider: 10s linear infinite;
  display: flex;
  justify-content: center;
  /* this is just for testing purposes */
  min-height: 200vh;
}

input,
a,
button,
summary {
  &:focus-within {
    /* maybe change this to important instead? the blue is easy to see though */
    outline: var(--blue) thick dotted;
  }
}

.overlay {
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease 0.1s;
  &.open {
    background: rgba(0, 0, 0, 0.25);
  }
}

a {
  height: fit-content;
  color: var(--blue);
  text-decoration: none;
  position: relative;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  transition: 0.2s ease;
  svg > path {
    stroke: var(--blue);
  }
  /* placeholder */
  &:hover {
    color: var(--blue);
    /* transform: skewX(5deg); */
  }
}
/*! .arrow {
  max-width: 1rem;
  max-height: 1rem;
} */
.link {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 700;
  gap: 0.5rem;
  transition: 0.5s ease;
  &:has(.blue):hover {
    color: var(--black);
    div {
      &::after {
        background: var(--black);
      }
    }
  }
  div {
    height: 1.125rem;
    aspect-ratio: 1;
    &::after {
      transition: 0.5s ease;
      content: "";
      background: var(--black);
      position: absolute;
      display: grid;
      place-self: center;
      mask: url(../assets/icons/arrow-right.svg) center/contain no-repeat;
      height: 1.125rem;
      aspect-ratio: 1;
    }
    &.blue {
      height: 1.125rem;
      &::after {
        background-color: var(--blue);
      }
    }
  }
}

.outgoing {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 700;
  gap: 0.5rem;
  &:not(.blue):hover {
    color: var(--black);
    > div::after {
      background: var(--black);
    }
  }
  > div {
    height: 1.125rem;
    aspect-ratio: 1;
    &::after {
      content: "";
      background: var(--black);
      position: absolute;
      display: grid;
      place-self: center;
      mask: url(../assets/icons/arrow-outgoing.svg) center/contain no-repeat;
      height: 1.125rem;
      aspect-ratio: 1;
    }
    &.blue {
      &::after {
        background-color: var(--blue);
      }
    }
  }
}

form {
  display: flex;
}
button{
  width: fit-content;
  color: var(--black);
  &:hover{
    color: var(--blue);
    transition: .3s ease;
  }
}

.btn {
  &:active {
    background: var(--important);
    border-style: dotted;
  }
  align-items: center;
  background: var(--white);
  display: flex;
  height: 3rem;
  color: var(--black);
  border: 1px solid var(--black);
  stroke: initial;
  &:not(.blue):hover {
    > div::after {
      background: var(--blue);
    }
  }
  &:not(details) {
    > * {
      display: grid;
      place-content: center;
    }
  }
  span {
    border-right: 1px solid var(--black);
    padding: 0.875rem 1rem;
    height: 100%;
  }
  div {
    height: 100%;
    width: 3rem;
    height: 3rem;
    position: relative;

    /* Only apply the ::after when the element is NOT inside a <details> */
    &:not(details) {
      &::after {
        content: "";
        background: var(--black);
        position: absolute;
        display: grid;
        place-self: center;
        mask: url(../assets/icons/arrow-right.svg) center/contain no-repeat;
        height: 1.125rem;
        aspect-ratio: 1;
      }
      &.blue {
        &::after {
          background-color: var(--blue);
        }
      }
    }
  }

  p {
    white-space: nowrap;
    border-right: 1px solid var(--black);
    padding: 0.875rem 1rem;
    height: 100%;
  }
  cursor: pointer;
}

/* button animation, now to find a fitting animation for it... */
a:hover > div > img {
  transform: translateX(5px);
}

a:active {
  background-color: var(--important);
}

/* content */
main > * {
  grid-column: 1 / -1;
  margin: 3rem 0;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

main {
  overflow: hidden;
  grid-auto-rows: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: baseline;
  padding: 0 1rem;
  margin: 0 auto 1rem 0;
}

/* companies block */
.companies-block {
  overflow: hidden;
  height: fit-content;
  margin-left: -1rem;
  margin-right: -1rem;
  border: 1px solid var(--black);
  border-width: 1px 0;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  .group:nth-child(1) {
    animation: moveLeft var(--linear-slider);
    &:hover {
      animation-play-state: paused;
    }
  }
  .group:nth-child(2) {
    transform: translateX(-50%);
    animation: moveRight var(--linear-slider);
    &:hover {
      animation-play-state: paused;
    }
  }
  > div {
    flex-wrap: wrap;
  }
  div {
    display: flex;
    /* md+ screen */
    img {
      aspect-ratio: 1;
      min-width: clamp(120px, 15vw, 176px);
      min-height: clamp(120px, 15vw, 176px);
      object-fit: cover; /* Cover the entire area, cropping if necessary */
      display: block; /* Remove bottom whitespace */
    }
  }
}
@keyframes moveLeft {
  to {
    transform: translateX(-50%);
  }
}
@keyframes moveRight {
  to {
    transform: translateX(0);
  }
}

/* end of companies block */

/* content block */

.content-block > * {
  grid-column: 1 / -1;
  text-align: center;
}
.content-block {
  justify-items: center;
  gap: 1rem 1rem;
  span:nth-child(1) {
    width: fit-content;
  }
  div {
    flex-direction: column;
    @media (min-width: 769px) {
      flex-direction: row;
    }
  }
  > a {
    margin-top: 1rem;
  }
  &:has(h1) {
    /* aanpassen */
    margin-bottom: 8.125rem;
    > div {
      margin-top: 1.5rem;
    }
  }
}
.content-block :not(h1) span:not(a > span) {
  color: rgba(204, 0, 0, 1);
}
.content-block > div:not(:has(h1)) {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

/* not sure if this is allowed */
.content-block h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* end of content block */

header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 -1rem 0 0 var(--white);
}
header img {
  min-height: 2.5rem;
  max-height: 3.75rem;
  height: 100%;
}

/* container */
.container {
  max-width: 1440px;
  min-height: calc(100% - 1.125rem);
  width: 100%;
  @media (min-width: 769px) {
    margin: 0 1rem;
  }
}

nav {
  position: relative;
  height: 5rem;
  padding: 0.75rem 0.875rem;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  position: relative;
  /* overflow: hidden; */
  .nav-items {
    max-width: 360px;
    width: 100%;
    z-index: 30;
    border-top: 1px solid var(--black);
    padding: 0 1.5rem;
    background: var(--white);
    top: 0;
    height: 100%;
    right: 0;
    transform: translateX(100%);
    position: fixed;
    transition: 0.3s ease 0.1s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    ul {
      padding: 3rem 0;
      &:first-of-type {
        border-bottom: 1px solid var(--black);
        > * {
          margin: 3rem 0;
          &:first-of-type,
          &:last-of-type {
            margin: 0;
          }
        }
        a {
          gap: 0.375rem;
        }
      }
      &:last-of-type > :first-child {
        margin-bottom: 1.5rem;
      }
      li {
        a {
          color: var(--black);
          width: fit-content;
          align-items: center;
          display: flex;
          &.link {
            font-weight: 400;
            color: var(--blue);
            gap: 0.5rem;
            &:hover {
              color: var(--black);
              ::after {
                background: var(--black);
              }
            }
          }
          &:hover {
            color: var(--blue);
          }
          &.active {
            color: var(--blue);
            font-weight: 700;
          }
          span {
            padding: 0 0.25rem;
            font-size: 0.75rem;
            background-color: var(--blue);
            height: fit-content;
            line-height: 1rem;
            color: var(--white);
          }
        }
      }
    }
  }
  .nav-items.open {
    transform: translateX(0);
  }
  > a:has(:not(img)) {
    text-align: center;
    height: 100%;
    aspect-ratio: 1;
    z-index: 100;
    padding: 0.5rem;
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--black);

    /* possibly remove this? */
    .lines {
      background: var(--blue);
      display: block;
      background: var(--black);
      height: 3px;
      width: 100%;
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
}

section {
  display: grid;
  height: fit-content;
  grid-template-columns: subgrid;
}

/* md and lg screens */
@media screen and (min-width: 660px) {
  /* header | nav */

  header {
    /* zorgt ervoor dat de content / page layout niet shift */
    height: 178px; /* md+ */
    top: 1rem;
    pointer-events: none;
    > * {
      pointer-events: all;
    }
    /* hide de borders van de main */
    img {
      max-height: 5rem;
    }
  }

  nav {
    padding: 0.75rem 1rem;
    height: fit-content;
    border: 1px solid var(--black);
    .nav-items {
      display: flex;
    }
    top: 0;
  }

  /* 
stomme 'hack'
maar dit zorgt er wel voor dat de scroll header op elke browser werkt :)
*/
  header::before,
  header::after {
    content: "";
    background: var(--black);
    position: absolute;
    z-index: -1;
    top: 0;
    height: calc(100vh - 2rem);
    width: 1px;
  }
  header::before {
    left: 0;
  }
  header::after {
    right: 0;
  }

  nav ul li span {
    font-weight: 300;
  }
  /* end of nav | header */

  .content-block {
    grid-column: 3 / 11;
  }
  .companies-block {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  main {
    padding: 0 3rem;
    border: 1px solid var(--black);
    border-top: none;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 0 2rem;
  }

  /* md+ nav | header */
  nav {
    height: 178px;
    padding: 3rem;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease;
  }
  nav.scrolled {
    height: 114px;
    padding: 1rem 3rem;
    border-bottom: 1px solid var(--black);
  }
  /* end of md+ nav | header */

  .container {
    margin: 0px 1rem;
  }
}
/* end of md and lg screens */
/* hamburger menu removal */
@media screen and (min-width: 1180px) {
  .overlay.open {
    background-color: rgba(0, 0, 0, 0);
  }
  .burger {
    display: none;
  }

  nav {
    color: var(--black);
    width: 100%;
    .nav-items {
      position: initial;
      max-width: unset;
      background: initial;
      flex-direction: row;
      border: none;
      transform: unset;
      ul {
        padding: 0;
        height: fit-content;
        min-height: 3rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;
        align-items: center;
        gap: clamp(1rem, 2vw, 3rem);
        &:first-of-type {
          border: none;
          text-wrap: nowrap;
          width: 60%;
          justify-content: start;
          margin: 0 clamp(1rem, 2vw, 3rem);
          gap: clamp(1rem, 2vw, 2rem);
          width: 100%;
          > * {
            margin: initial;
          }
        }
        &:last-of-type > :first-child {
          margin-bottom: initial;
        }
      }
    }
    div.open::before {
      display: none;
    }
  }
}

p:has(time) {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  time::after {
    content: "/";
    padding: 0 0.5rem;
  }
}

time {
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

::selection {
  background-color: var(--important);
  color: var(--white);
}

p.label {
  display: inline-block;
}

.pub-listing:nth-of-type(n+2){
  display: none;
  .loaded{
    display: block;
  }
}